@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
	@include addons;
	@include mytheme;
	
	// estilo necesario para que los componentes paper se "derramen" dentro de una ventana de vaadin.
	.overflow-force-visible {
		overflow: visible !important;
	}
	.overflow-recursive-visible {
		* {
			overflow: visible;
		}
		.avoid-overflow {
			overflow: hidden;
		}
		.avoid-overflow * {
			overflow: hidden;
		}	
	}
	.overflow-force-hidden {
		overflow: hidden !important;	
	}
	.overflow-recursive-hidden {
		div {
			overflow: hidden;
		}
	}
	.overflow-force-auto {
		overflow: auto !important;	
	}
	.overflow-recursive-auto {
		div {
			overflow: auto;
		}
	}	
	.avoid-overflow {
		overflow: hidden;
		* {
			overflow: hidden;
		}
	}
}
